/* Themeing */
:root{
    --text-dark: #494b53;
    --bg-dark: rgb(0,0,0);
    --rad-dark: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 100%);

    --text-light: #abb2bf;
    --bg-light: rgb(250,250,250);
    --rad-light: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(230,230,230,1) 100%);

    --font-heading: 'Hahmlet', serif;
    --font-main: 'Inter', sans-serif;
    --font-quote: ;
}

/* Utility Classes */
.pointer{
    cursor: pointer;
}
.none{
    display: none;
}
.center-text{
    text-align:center;
}
.upcase{
    text-transform: uppercase;
}
.inter{
    font-family: var(--font-main);
}
.ham{
    font-family: var(--font-heading)
}

/* Body Themes */
body{
    background: var(--bg-light);
    background:var(--rad-light);
    color: var(--text-dark);
}

body.dark-theme{
    background: var(--bg-dark);
    background: var(--rad-dark);
    color: var(--text-light);
}

/* TODO */
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}
.fas{
    margin: 10px 10px 0px 10px;
}

/* Flex Containers */
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-header{
    height: 15vh;
}

.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
}

.container-footer{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

/* Grids */
.top-grid{
    display: grid;
    grid-template-areas:
    "toggle title hamburger"
    "subtitle subtitle subtitle"
    "social social social";
    grid-template-columns: 5% 90% 5%;
}
.head-toggle{
    grid-area: toggle;
}
.head-title{
    grid-area: title;
}
.head-hamburger{
    grid-area: hamburger;
}
.subtitle{
    grid-area: subtitle;
}
.socials{
    grid-area: social;
}

/*Title & Subtitle */
.title{
    margin: 0;
    padding: 15px 0 0 0;
}

.subtitle{
    margin: 0 0 5px 0;
}

/* Profile Image */
.profile>img{
    border-radius: 50%;
    width: 20rem;
}

/* Social Bar */
.socials>ul{
    margin: 0;
    padding: 0;
}
.socials>ul>li{
    padding: 0 10px;
    text-align: center;
}
